/*VARIABLES PARA LOS PUTOS COLORES, TU YA ME ENTIEDES*/
:root{
    --bodyPeinting:  #f8f8f5;
    --background:  #4a4a4a;
    --oranchFuerte: #e67534 ;   
    --oranchSueavesito: #e0966b;   
    --oranchMoreSueavesito:rgb(240, 210, 172);   
    --bluFuerte:rgb(17, 126, 189);
    --bluSuavesito:rgb(75, 182, 243);
    --bluMoreSuavesito:rgba(129, 198, 238, 0.876);
    --bluMoreOscurito:rgb(51, 140, 192);
    --greenFuerte:rgb(69, 144, 7);
    --greenSuavesito:rgb(92, 189, 13);
    --greenMoreSuavesito:rgb(103, 218, 9);
    --greenMoreOscurito:rgb(58, 126, 3);

    --redFuerte:rgb(155, 6, 38);
    --redSuavesito:rgb(250, 12, 44);
    --redMoreSuavesito:rgb(207, 6, 32);
    --redMoreOscurito:rgb(128, 3, 30);
}
body, html {
    background-color: var(--bodyPeinting);
    height: 100%;

}
.contenedor{
    position : relative;
    width: 100%;
    height: 100%;
    background-color: var(--bodyPeinting);
    display: flex;
    justify-content: center;
    align-items : center;

}
.contenido{
    width: 550px;
    height: 421px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap;
}
/* COSAS REFERENTES A PROPIETARIOS*/
.titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--bluMoreSuavesito);
    text-align:center;
    background-color: var(--oranchFuerte);
}
.formulo{
    width: 100%;
    height: 353px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}
.formulario{
    margin-top: 1%;
}
.formulario label{
    color: var(--oranchSueavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.formulario input{
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.formulario .input:focus{
    color:blue;
}
.formulario .input::placeholder {
    color: var(--oranchMoreSueavesito);
    font-size: 1.2em;
    font-style: italic;
}
.formulario .input:focus::placeholder {
    color: transparent;
}
.formulario .boton{
    width:202px;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--oranchFuerte) ;
    
}
.formulario .boton:hover{
    width:204px;
    height: 38px;
    background-color:var(--oranchSueavesito) ;
}


/* COSAS REFERENTES A MARCAS*/
.marca-titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--oranchFuerte);
    text-align:center;
    color: white;
    background-color: var(--bluFuerte);
}
.marca-formulo{
    width: 100%;
    height: 353px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.marca-formulario{
    margin-top: 1%;
}
.marca-formulario label{
    color: var(--bluSuavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.marca-formulario input{
    width:100%;
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.marca-formulario select{
    font-size: 16px;
    height: 26px;
    width:103%;
    padding-top: 1px;
    margin-top: 2px;
}
.optchon{
    color: var(--bluMoreSuavesito); 
}
.marca-formulario:focus{
    color: var(--bluMoreSuavesito);
}
.marca-formulario .input:focus{
    color:blue;
}
.marca-formulario .input::placeholder {
    color: var(--bluMoreSuavesito);
    font-size: 1.2em;
    font-style: italic;
}
.marca-formulario .input:focus::placeholder {
    color: transparent;
}
.marca-formulario .boton{
    width:103%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--bluSuavesito) ;
    
}
.marca-formulario .boton:hover{
    width:100%;
    height: 38px;
    background-color:var(--bluMoreOscurito) ;
}

/* COSAS REFERENTES A TITULOS*/
.titulos-titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--greenFuerte);
    text-align:center;
    color: white;
    background-color: var(--greenFuerte);
}
.titulos-formulo{
    width: 100%;
    height: 353px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.titulos-formulario{
    margin-top: 1%;
}
.titulos-formulario label{
    color: var(--greenSuavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.titulos-formulario input{
    width:100%;
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.titulos-formulario select{
    font-size: 16px;
    height: 26px;
    width:103%;
    padding-top: 1px;
    margin-top: 2px;
}
.optchon{
    color: var(--greenMoreSuavesito); 
}
.titulos-formulario:focus{
    color: var(--greenMoreSuavesito);
}
.titulos-formulario .input:focus{
    color:green;
}
.titulos-formulario .input::placeholder {
    color: var(--greenMoreSuavesito);
    font-size: 1.2em;
    font-style: italic;
}
.titulos-formulario .input:focus::placeholder {
    color: transparent;
}
.titulos-formulario .boton{
    width:103%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--greenSuavesito) ;
    
}
.titulos-formulario .boton:hover{
    width:100%;
    height: 38px;
    background-color:var(--greenMoreOscurito) ;
}

/* COSAS REFERENTES A MARCAS*/
.marca-titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--oranchFuerte);
    text-align:center;
    color: white;
    background-color: var(--bluFuerte);
}
.marca-formulo{
    width: 100%;
    height: 353px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.marca-formulario{
    margin-top: 1%;
}
.marca-formulario label{
    color: var(--bluSuavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.marca-formulario input{
    width:100%;
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.marca-formulario select{
    font-size: 16px;
    height: 26px;
    width:103%;
    padding-top: 1px;
    margin-top: 2px;
}
.optchon{
    color: var(--bluMoreSuavesito); 
}
.marca-formulario:focus{
    color: var(--bluMoreSuavesito);
}
.marca-formulario .input:focus{
    color:blue;
}
.marca-formulario .input::placeholder {
    color: var(--bluMoreSuavesito);
    font-size: 1.2em;
    font-style: italic;
}
.marca-formulario .input:focus::placeholder {
    color: transparent;
}
.marca-formulario .boton{
    width:103%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--bluSuavesito) ;
    
}
.marca-formulario .boton:hover{
    width:100%;
    height: 38px;
    background-color:var(--bluMoreOscurito) ;
}

/* COSAS REFERENTES A CAMPEONES*/
.campeones-titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--redFuerte);
    text-align:center;
    color: white;
    background-color: var(--redFuerte);
}
.campeones-formulo{
    width: 100%;
    height: 353px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.campeones-formulario{
    margin-top: 1%;
}
.campeones-formulario label{
    color: var(--redSuavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.campeones-formulario input{
    width:100%;
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.campeones-formulario select{
    font-size: 16px;
    height: 26px;
    width:103%;
    padding-top: 1px;
    margin-top: 2px;
}
.optchon{
    color: var(--redMoreSuavesito); 
}
.campeones-formulario:focus{
    color: var(--redMoreSuavesito);
}
.campeones-formulario .input:focus{
    color:green;
}
.campeones-formulario .input::placeholder {
    color: var(--redMoreSuavesito);
    font-size: 1.2em;
    font-style: italic;
}
.campeones-formulario .input:focus::placeholder {
    color: transparent;
}
.campeones-formulario .boton{
    width:103%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--redSuavesito) ;
    
}
.campeones-formulario .boton:hover{
    width:100%;
    height: 38px;
    background-color:var(--redMoreOscurito) ;
}
.campeones-formulario .numberInput{
    width:68px;

}




/* COSAS REFERENTES A ROSTER*/
.roster-contenido{
    width: 550px;
    /*height: 421px;*/
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap;
}
.roster-titulo{
    width:100%;
    /*height:65px;*/
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--greenFuerte);
    text-align:center;
    color: white;
    background-color: var(--greenFuerte);
}
.roster-formulo{
    width: 100%;
    height: 353px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.roster-formulario{
    margin-top: 1%;
}
.roster-formulario label{
    color: var(--greenSuavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.roster-formulario input{
    width:100%;
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.roster-formulario select{
    font-size: 16px;
    height: 26px;
    width:103%;
    padding-top: 1px;
    margin-top: 2px;
}
.optchon{
    color: var(--greenMoreSuavesito); 
}
.roster-formulario:focus{
    color: var(--greenMoreSuavesito);
}
.roster-formulario .input:focus{
    color:green;
}
.roster-formulario .input::placeholder {
    color: var(--greenMoreSuavesito);
    font-size: 1.2em;
    font-style: italic;
}
.roster-formulario .input:focus::placeholder {
    color: transparent;
}
.roster-formulario .boton{
    width:103%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--greenSuavesito) ;
    
}
.roster-formulario .boton:hover{
    width:100%;
    height: 38px;
    background-color:var(--greenMoreOscurito) ;
}

/* COSAS REFERENTES A ROSTER*/
.roster-contenido{
    width: 550px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap;
}
.roster-titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid var(--oranchFuerte);
    text-align:center;
    color: white;
    background-color: var(--bluFuerte);
}
.roster-formulo{
    width: 100%;
    height: 645px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.roster-formulario{
    margin-top: 1%;
}
.roster-formulario label{
    color: var(--bluSuavesito);
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
.roster-formulario input{
    width:100%;
    font-size: 16px;
    height: 26px;
    padding-top: 1px;
    margin-top: 2px;
}
.roster-formulario select{
    font-size: 16px;
    height: 26px;
    width:103%;
    padding-top: 1px;
    margin-top: 2px;
}
.optchon{
    color: var(--bluMoreSuavesito); 
}
.roster-formulario:focus{
    color: var(--bluMoreSuavesito);
}
.roster-formulario .input:focus{
    color:blue;
}
.roster-formulario .input::placeholder {
    color: var(--bluMoreSuavesito);
    font-size: 1.2em;
    font-style: italic;
}
.roster-formulario .input:focus::placeholder {
    color: transparent;
}
.roster-formulario .boton{
    width:103%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--bluSuavesito) ;
    
}
.roster-formulario .boton:hover{
    width:100%;
    height: 38px;
    background-color:var(--bluMoreOscurito) ;
}
.roster-formulario .dia{
    width: 40px;
}
.roster-formulario .mes{
    width: 153px;
    height: 31px;
}
.roster-formulario .año{
    width: 80px;
}

/*VIEW*/
.view-titulo{
    width:100%;
    height:65px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom: 3px solid rgb(255, 0, 98);
    text-align:center;
    color: rgb(255, 255, 255);
    text-shadow: 0.1em 0.1em rgb(255, 4, 88);
    background-color: rgb(17, 14, 14);
}
.view-contenido{
    width: 650px;
    /*height: 421px;*/
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap;
}
.view-formulo{
   /*  width: 100%; */
    height: 271px;
    background-color:white;
    border:1px solid black;
    border-top: none;
    /*display: flex;*/
    /*justify-content: center;*/
}
.view_table{
    margin-top: 12px;
    margin-left: 12px;
    width:97%;
}
.view_table2{
    margin-top: 12px;
    margin-left: 12px;
    width:97%;

}
.n, .n2, .r {
    border-bottom: 1px solid black;
}
.n{
    font-weight: bold;
    text-transform: uppercase;
}
.n2{
    text-transform: uppercase;
    text-align: right;
}
.r{
    text-align: right;
}
.tds{
    border: 1px solid black;
}

.roster-formulario .check{
    width:30px;
}
.roster-formulario .ches{
    font-size: 22px;
}
/* .edit1{
    
} */
.edit-roster-formulo{
    width: 100%;
    height: 707px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
.edit-brand-formulo{
    width: 100%;
    height: 368px;
    background-color:var(--background);
    display: flex;
    justify-content: center;
}
h1{
    text-transform: uppercase; 
}
label{
   text-transform: uppercase; 
}
.roster-formulario .editboton {
    width: 49%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color: var(--bluSuavesito);
}
.roster-formulario .dilit {
    width: 49%;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color: var(--redMoreSuavesito);
}
.roster-formulario .editboton:hover{
    height: 38px;
    color:white;
    background-color:var(--bluMoreOscurito) ;
}
.roster-formulario .dilit:hover{
    height: 38px;
    color:white;
    background-color:var(--redMoreOscurito) ;
}


.boton{
    width:202px;
    height: 36px;
    font-weight: bold;
    font-size: 17px;
    background-color:var(--oranchFuerte) ;
    
}
.boton:hover{
    width:204px;
    height: 38px;
    background-color:var(--oranchSueavesito) ;
}

.container{
    position : relative;
    width: 100%;
    height: 100%;
    background-color: var(--bodyPeinting);
    display: flex;
    justify-content: center;
    
}
.img{
    width:180px;
    height:180px;
}

.roster-images{
    color:black;
    /*width: 720px;*/
    /*height: 421px;*/
/*  border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    margin-left: 25px;
    display: flex;
    flex-flow: column wrap; */
  }